body {
    background-color: #313738;
}

#ele {
    margin: 0 auto;
    padding: 50px 0;
}

table {
    margin: 0 auto;
}

.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

.amarillo {
    background-color: yellow;
}

.naranja {
    background-color: orange;
}

.verde {
    background-color: green;
}

td {
    width: 40px;
    height: 40px;
    text-align: left;
    color: #757d5f;
    font-size: 8px;
    border: solid 1px #313738;
    background-color: #07889B;
    border-radius: 4px;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#tableCandy {
    margin-top: 10%;
}
